<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>UpBid</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <link href="../static/signup.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- The 'listings' variable holds a list of all the items currently for sale (still in dictionary form). If the item
was posted by the currently logged-in user, it will also display a button next to the item to delete it. The username of
the current user is stored in 'username', and is verified via authentication token (the get_logged_in method).
-->
<body>
<header>
    <img class="logo" src="static/logo.png" alt="logo">


    <nav>
      <ul class="nav_links">

          <li><a href="/"> Catalogue </a></li>
          <li><a href="/auction"> Auction </a></li>
          <li><a href="/profile"> Profile </a></li>
          <li><a href="/cart">Cart</a></li>
        <a class="cta" href="/logout"><button class="btn1">Logout</button></a>
      </ul>
    </nav>

  </header>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>alert("{{ message }}");</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="user_forms-login">
        <h2 class="forms_title">List item for sale</h2>
        <form class="forms_form" id="add_item" method="post" action="/add_item" enctype="multipart/form-data">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="Name of Item" name="item_name" class="forms_field-input" required />
            </div>
              <div class="forms_field">
              <input type="text" placeholder="Item Description" name="item_description" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="number" placeholder="Price" name="item_price" class="forms_field-input" required />
            </div>
              <div class="forms_field">
              <input type="file" placeholder="Image of item" name="item_image" class="forms_field-input" required />
            </div>
              <div class="forms_field">
              <input type="text" hidden name="xsrf_token" value="{{ xsrf_token }}"  />
            </div>
            <div class="forms_buttons">
                <input type="submit" value="Add item" class="forms_buttons-action" required>
            </div>
          </fieldset>

        </form>
      </div>


<!-- Code for formatting here taken from https://jinja.palletsprojects.com/en/3.1.x/templates/ -->
<ul style="padding-left:10px; padding-top:10px">
    {% for item in listings  %}
        <li id="item_in_list">
        <p id="paragraph_in_list">{{ item["name"] }} | {{ item["seller"] }}</p>
        <p id="paragraph_in_list">{{ item["description"] }}</p>
        <p id="paragraph_in_list">{{ item["price"] }}</p>
        <img id="item_image" src={{ "/image/" + item["id"]|string }} />
        {% if user == item["seller"]%}
            <form class="forms_form" id="delete_item" method="post" action="/delete_item" enctype="multipart/form-data">
                <input type="text" hidden name="item_id" value={{ item["id"]|string }}  />
                <input type="text" hidden name="xsrf_token" value="{{ xsrf_token }}"  />
                <input type="submit" value="Delete Item" class="forms_buttons-action" required>
            </form>

        {% endif %}
        {% if user != item["seller"]%}
            {% if item["id"] in cart %}
             <form class="forms_form" id="cart_item" method="post" action="/remove_from_cart" enctype="multipart/form-data">
                <input type="text" hidden name="item_id" value={{ item["id"]|string }}  />
                <input type="text" hidden name="xsrf_token" value="{{ xsrf_token }}"  />
                <input type="submit" value="Remove item from cart" class="forms_buttons-action" required>
            </form>

        {% else %}
            <form class="forms_form" id="cart_item" method="post" action="/add_to_cart" enctype="multipart/form-data">
                <input type="text" hidden name="item_id" value={{ item["id"]|string }}  />
                <input type="text" hidden name="xsrf_token" value="{{ xsrf_token }}"  />
                <input type="submit" value="Add item to cart" class="forms_buttons-action" required>
            </form>
            {% endif %}
        {% endif %}
        </li>
    {% else %}
       <p>No items available for sale!</p>
    {% endfor %}

</ul>


</body>

</html>