{% extends 'base.html' %}

{% block head %}
<title>Sign Up</title>
{% endblock %}


{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>alert("{{ message }}");</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form" id="login_form" method="post" action="/login">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" name="login_email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" name="login_password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>
{% endblock %}