<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>User Profile</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <link href="../static/signup.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <img class="logo" src="static/logo.png" alt="logo">


    <nav>
      <ul class="nav_links">

        <li><a href="/"> Catalogue </a></li>
          <li><a href="/auction"> Auction </a></li>
         <li><a href="/profile"> Profile </a></li>
          <li><a href="/cart">Cart</a></li>
        <a class="cta" href="/logout"><button class="btn1">Logout</button></a>
      </ul>
    </nav>
</header>
<h2 style="padding-left:10px">{{ user["user"] }}</h2>
<h3 style="padding-left:10px">{{ user["email"] }}</h3>
<br>
<div style="display:flex;padding-left:10px">
    <div style="flex:33%">
        <h4>Currently listed items</h4>
    <br>
        {% for item in items %}
            <h4>{{ item["name"] }}</h4>
            <p>{{ item["description"] }}</p>
            <img id="item_image" src={{ "/image/" + item["id"]|string }} />
            <br>


        {% else %}
            <p>No items to list!</p>
        {% endfor %}

    </div>
    <div style="flex:33%">
        <h4>Bought items</h4>
    <br>
        {% for item in bought %}
            <h4>{{ item["name"] }}</h4>
            <h5>{{ item["seller"] }}</h5>
            <p>{{ item["description"] }}</p>
            <br>

        {% else %}
            <p>No items to list!</p>
        {% endfor %}

    </div>
    <div style="flex:33%">
        <h4>Sold Items</h4>
    <br>
        {% for item in sold %}
            <h4>{{ item["name"] }}</h4>
            <h5>{{ item["buyer"] }}</h5>
            <p>{{ item["description"] }}</p>
            <br>


        {% else %}
            <p>No items to list!</p>
        {% endfor %}

    </div>


</div>




</body>
</html>