{% extends 'base.html' %}

{% block head %}
<title>Sign Up</title>
{% endblock %}


{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>alert("{{ message }}");</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="user_forms-signup">
        <h2 class="forms_title">Sign Up</h2>
        <form class="forms_form" id="signup_form" method="post" action="/signup" >
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="Full Name" name="register_username" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="email" placeholder="Email" name="register_email" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" name="register_password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Sign up" class="forms_buttons-action">
          </div>
        </form>
      </div>
{% endblock %}